.contacts-page {
  margin: 6rem 0rem;
}

h1 {
  font-size: 6em;
  text-align: center;
}

.table {
  display: flex;
  justify-content: center;
}

th {
  font-size: 2.5rem;
  padding: 0 2rem;
}

td {
  font-size: 2rem;
  text-align: center;
  width: 10rem;
  padding: 0 2rem;
}

img {
  height: 200px;
  width: auto;
}

button {
  padding: 0.5rem 1.2rem;
  font-size: 2em;
}

.button-container {
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.delete-btn {
  font-size: 1.5rem;
}
